# Configuration file

general {

    ##########################################################################################################
    # general tweaks
    #--------------------------------------------------------------------------------------------------------#
    # MCJediYoda Tweaks Configuration
    ##########################################################################################################

    "general tweaks" {
        B:"Breaking Block with Hand Hurts"=false
        S:"Disable Drops eg, from trees or bushes" <
         >
        B:"Disable FOV Changes"=false
        B:"Disable Flint Drops from Gravel"=false
        B:"Disable Health Regeneration"=false
        B:"Disable Ore Placing"=false
        B:"Disable Sleeping"=false
        B:"Disable Vanilla Bonemeal on Crops"=false
        B:"Disable Villages"=false
        B:"Enable Teleport Command"=false
        I:"Flint Drop Chance from Gravel"=30
        B:"Prevent Mobs in Portals"=false
        B:"Remove Sky Renderer"=false
        B:"Sleeping Sets Spawn"=false
        I:"Stick Drop Chance from Leaves"=25
        S:"Teleport Command"=itp
        S:"White List Ore Placing (allow)" <
            minecraft:coal_ore
         >
    }

    "biome decoration" {
        B:"Disable Big Shroom"=false
        B:"Disable Cactus"=false
        B:"Disable Dead Bush"=false
        B:"Disable Desert Well"=true
        B:"Disable Flowers"=false
        B:"Disable Fossil"=false
        B:"Disable Grass"=false
        B:"Disable Lake Lava"=false
        B:"Disable Lake Water"=false
        B:"Disable Lilypad"=true
        B:"Disable Pumpkin"=false
        B:"Disable Reed"=false
        B:"Disable Shroom"=true
        B:"Disable Tree"=false
    }

    fog {
        I:"Blacklist Dimension for Fog Rendering" <
            1
         >
        B:"Enable Custom Fog"=true
        D:"Fog Color Blue"=30.0
        D:"Fog Color Green"=30.0
        D:"Fog Color Red"=30.0
        B:"Invert Fog Effect affects Y level"=true
        D:"Nether Fog Color Blue"=0.0
        D:"Nether Fog Color Green"=0.0
        D:"Nether Fog Color Red"=20.0
    }

    lives {
        # Changes Requires Restart
        B:"Enable Limited Lives"=false
        I:"Maximum Number of Lives"=10
        B:"Show Number of Lives on Death"=true
        B:"Show Number of Lives on Join"=true
        I:"Starting Number of Lives"=3
    }

    "mob carrying spawner settings" {
        S:"Block These Mobs form Spawning with Spawners" <
            Wither
            EnderDragon
         >
        I:"Chance Hostile Mob Spawns with a Spawner in Hand n/100"=1

        # must be greater than MIN or random will be false
        I:"Place Spawner Max Delay (seconds)"=20

        # set to 0 to have mob drop spawner instantly
        I:"Place Spawner Min Delay (seconds)"=5

        # the spawner will be randomized
        S:"Possible Mob Spawners for Mobs to Spawn with Spawner in Hand" <
            Zombie
            Skeleton
            Spider
         >

        # If false, then mobs drop spawner using MIN_DELAY_TIMER
        B:"Randomize Spawner Delay (seconds)"=true
    }

}


