# Configuration file

category_general {
    # Switch additional ore on/off
    B:"Additional Iron"=true

    # Switch additional endstone on/off
    B:"Additional Endstone"=true
}


category_ore_gen {
    # generation count per chunk
    I:Iron=20

    # generation count per chunk
    I:Basalt=14

    # generation count per chunk
    I:Tiberium=16

    # generation count per chunk
    I:Aurorium=13

    # generation count per chunk
    I:Prometheum=24

    # generation count per chunk
    I:Duranite=6

    # generation count per chunk
    I:Valyrium=13

    # generation count per chunk
    I:Vibranium=10

    # generation count per chunk
    I:Dilithium=16

    # generation count per chunk
    I:Karmesine=15

    # generation count per chunk
    I:Ovium=8

    # generation count per chunk
    I:Jauxum=13

    # generation count per chunk
    I:Palladium=21

    # generation count per chunk
    I:Uru=2

    # generation count per chunk
    I:Osram=3

    # generation count per chunk
    I:Abyssum=2

    # generation count per chunk
    I:Eezo=5
}


