# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=true

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        MFPTeam was formerly known as just Multi Forge Productions.
        MFPTeam was founded in late 2019.
        Lightning Studios was founded in late 2023.
        Lightning Studios is Partnered with MFPTeam to Publish their modpacks.
        Checkout our website at lstudios.nicepage.io
        Checkout our discord at youtube.com/@OfficialMFP
        The menu textures were created by uwucookies.
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


